target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

\.idea/

bp-job/\.mvn/

bp-job/mvnw

bp-job/mvnw\.cmd

bp-register/\.mvn/

bp-register/mvnw

bp-register/mvnw\.cmd

bp-role/\.mvn/

bp-role/mvnw

bp-role/mvnw\.cmd

bp-user/\.mvn/

bp-user/mvnw

bp-user/mvnw\.cmd

*.iml
